Repository netresearch/t3x-contexts: changes, and which Codecov flags are due for each by the changed paths.
All: API Layer, Context Types, Event Listeners, Form Elements, Services, Middleware, Query Restrictions, ViewHelpers, ExpressionLanguage

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

flag_management:
  individual_flags:
    - name: unit
      paths:
        - Classes/
      statuses:
        - type: project
          target: 95%
          threshold: 1%
      carryforward: true
    - name: functional
      paths:
        - Classes/
      statuses:
        - type: project
          target: 70%
          threshold: 2%
          informational: true
      carryforward: true

component_management:
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - Classes/Api/**
    - component_id: context
      name: Context Types
      paths:
        - Classes/Context/**
    - component_id: events
      name: Event Listeners
      paths:
        - Classes/EventListener/**
    - component_id: forms
      name: Form Elements
      paths:
        - Classes/Form/**
    - component_id: services
      name: Services
      paths:
        - Classes/Service/**
    - component_id: middleware
      name: Middleware
      paths:
        - Classes/Middleware/**
    - component_id: query
      name: Query Restrictions
      paths:
        - Classes/Query/**
    - component_id: viewhelpers
      name: ViewHelpers
      paths:
        - Classes/ViewHelpers/**
    - component_id: expression-language
      name: ExpressionLanguage
      paths:
        - Classes/ExpressionLanguage/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: true

fix: resolve PHPStan type errors
  Classes/Api/Configuration.php
  Classes/Form/CombinationFormElement.php
  Classes/Service/DataHandlerService.php
  Tests/Unit/Classes/Api/ConfigurationTest.php
  Tests/Unit/Classes/Form/CombinationFormElementTest.php
Due: API Layer, Form Elements, Services

fix(ip): test for an empty address list directly
  Build/phpstan.neon
  Classes/Context/Type/IpContext.php
Due: Context Types

fix(datahandler): save record context settings per record and per field permission
  Classes/Service/DataHandlerService.php
  Tests/Functional/ContextSettingsPermissionTest.php
  Tests/Functional/Fixtures/ContextSettingsPermissions.csv
  Tests/Unit/Classes/Service/DataHandlerServiceTest.php
Due: Services

test: drop a setUp() that only calls the parent
  Tests/Unit/Classes/Context/Type/SessionContextTest.php
Due: none

ci(release): publish through release-typo3-extension.yml
  .github/workflows/release.yml
Due: none

chore: release v4.0.1
  CHANGELOG.md
  Documentation/guides.xml
  ext_emconf.php
Due: none

test: provide a language service for DataHandler on TYPO3 12.4
  Tests/Functional/ContextSettingsPermissionTest.php
Due: none

chore: use one extension title everywhere
  Documentation/Includes.rst.txt
  Documentation/Index.rst
  Documentation/guides.xml
  README.md
  composer.json
  ext_emconf.php
Due: none
